.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
}

.page__item {
  width: 100%;
    &_inner {
      display: flex;
      width: 100%;
        .left {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .right {
          width: 60%;
            &__inner {
              padding: 0 36px;
              max-width: 860px;
            }
        }
    }
}

.margin {
  margin-bottom: 150px;
}